.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 6 columns on desktop */
    gap: 0.5rem;
    width: 100%;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}